version: "3.8"

services:
  web:
    image: viraj231/portable-decryptor:latest
    container_name: portable_decryptor_nginx
    restart: always
    ports:
      - "80:80"
    networks:
      - gateway_net

networks:
  gateway_net:
    external: true
