name: Deploy Portable Decryptor to VM

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install dependencies
        working-directory: ./web-decryptor
        run: npm install

      - name: Build project
        working-directory: ./web-decryptor
        run: npm run build

      - name: Prepare Server Directory
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: mkdir -p /home/ubuntu/portable-decryptor

      - name: Copy files to VM
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          source: "web-decryptor/dist/,Dockerfile,nginx.conf,docker-compose.yml"
          target: "/home/ubuntu/portable-decryptor"

      - name: Deploy with Docker
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/portable-decryptor

            if [ -d "web-decryptor/dist" ]; then
              rm -rf dist
              mv web-decryptor/dist .
              rm -rf web-decryptor
            fi

            docker network create gateway_net || true

            docker compose down
            docker compose up -d --build
